.courseFinder {
  width: 100%;
  padding-bottom: 50px;
  position: relative;
}

.courseFinder__image{
  width: inherit;
  height: auto;
  padding: 20px;
  display: block;
}

.courseFinder__details {
  width: 20%;
  text-align: left;
  position: absolute;
  top: 20%;
  right: 5%;
}

.courseFinder__details .courseFinder__title, .courseFinder__details .courseFinder__description {
  font-weight: 600;
  margin-bottom: 3rem;
}

.courseFinder__details .courseFinder__button {
  padding: 1rem;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #439a86;
  color: #000;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 15px 0;
}

.courseFinder__button:hover {
  filter: drop-shadow(0 0 30px #439a86);
}